/* CSS file */

DataGrid {
   horizontalGridLines: true;
   fontSize: 12;
   headerStyleName: "mydataGridHeaderStyle";
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
}
Alert
{
	fontFamily: Verdana;
	fontSize: 12;
	color: #9B0000;
	titleStyleName: alertTitle;
	controlBarStyleName: alertControlBar;
}

.mydataGridHeaderStyle {
   fontFamily: Verdana;
   fontSize: 14;
	fontWeight: bold;
}

.dataGridVerticalScrollBar
{
}
TextArea
{
	fontFamily: Arial;
	fontSize: 12;
	leading: 2;
	color: #064A59;
}

ToolTip  
{  
    fontSize:16;  
    color:#FF6699;  
}
TitleWindow
{
	statusStyleName: titleWindowStatus;
	backgroundAlpha: 1.0;
	borderAlpha: 1.0;
	borderColor: #B0CFF8;
	titleStyleName: titleWindowTitle;
}
Label
{
	fontSize: 12;
}
TextInput
{
	fontSize: 12;
}
ToggleButtonBar
{
	buttonStyleName: toggleButtonBarButton;
	fontSize: 12;
}
Button
{
	fontSize: 12;
	fontWeight: normal;
}
.toggleButtonBarButton
{
}
.titleWindowStatus
{
}
.titleWindowTitle
{
	fontFamily: Arial;
	fontSize: 16;
}
.alertTitle
{
	fontFamily: Arial;
	fontSize: 16;
	color: #000000;
	fontWeight: bold;
}
.alertControlBar
{
}  


