/* CSS file */

DataGrid {
   horizontalGridLines: true;
   fontSize: 12;
   headerStyleName: "mydataGridHeaderStyle";
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
}

.mydataGridHeaderStyle {
   fontFamily: Arial;
   fontSize: 16;
}
Panel
{
	fontFamily: "微软雅黑";
	fontSize: 16;
}
.dataGridVerticalScrollBar
{
}


