<?xml version="1.0" encoding="UTF-8"?>

<root>
  <RunModule>
    <name>默认名称</name>
    <startcmd>
      <cmd>fads</cmd>
    </startcmd>
    <stopcmd>
      <cmd>adsf</cmd>
    </stopcmd>
    <CustomButton name="adsf">
      <cmd>adsf</cmd>
    </CustomButton>
    <CustomButton name="asdf">
      <cmd>adsf</cmd>
    </CustomButton>
    <netaddr>adsf</netaddr>
    <logpath>asdfa</logpath>
  </RunModule>
</root>
