<?xml version="1.0" encoding="UTF-8"?>

<root> 
  <GobalConfig> 
    <webip>127.0.0.1</webip>  
    <webport>9527</webport> 
  </GobalConfig>  
  <RunModule sid="f10baad43acc4186b4f38ddaeb27e526">
    <name>默认名称</name>
    <startcmd>
      <cmd>1214241</cmd>
    </startcmd>
    <stopcmd>
      <cmd>12</cmd>
    </stopcmd>
    <netaddr>1115</netaddr>
    <logpath>16</logpath>
    <dburl>13</dburl>
    <appPath>14</appPath>
  </RunModule>
</root>
