<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SyntaxModes" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>

	<SyntaxModes>
		<add key="XML" value="XML"/>
		<add key="C#" value="C#"/>
		<add key="C++.NET" value="C++.NET"/>
		<add key="BAT" value="BAT"/>
		<add key="HTML" value="HTML"/>
		<add key="TeX" value="TeX"/>
		<add key="TSQL" value="TSQL"/>
	</SyntaxModes>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
