/* CSS file */

DataGrid {
   horizontalGridLines: true;
   fontSize: 12;
   headerStyleName: "mydataGridHeaderStyle";
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
}

.mydataGridHeaderStyle {
   fontFamily: Verdana;
   fontSize: 14;
}
Panel
{
	fontFamily: "微软雅黑";
	fontSize: 16;
}
.dataGridVerticalScrollBar
{
}
TextArea
{
	fontFamily: Arial;
	fontSize: 12;
	leading: 2;
	color: #064A59;
}


