body{ TEXT-ALIGN: center; }

.picbox{position:relative; width:650px; height:500px; overflow:auto; }
.image img{
max-width:300px;
width:expression(document.body.clientWidth > 300?"300px":"auto" );
display:block;
}
.image{
	
float:left; 
border:1px solid #ccc; 
margin:3px 3px; 
padding:2px; 
display: inline; 
}

.fonttitle{ font-weight:bold; font-family:Î¢ÈíÑÅºÚ; border:solid #1F497D 0.5pt;padding:5.4pt 5.4pt 5.4pt 5.4pt;text-align:center;line-height:12.0pt;}
.fonttitle1{font-size:9.0pt;border:solid #1F497D 0.5pt;font-family:ËÎÌå;padding:5.4pt 5.4pt 5.4pt 5.4pt;text-align:center;line-height:12.0pt;}
